*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/*for navigation */
ul.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.nav__list li.nav__item {
    float: left;
}
ul.nav__list li.nav__item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}
ul.nav__list li.nav__item a:hover:not(.active) {
    background-color: #111;
}
ul.nav__list li.nav__item a.active {
    background-color: #4CAF50;
}
@media screen and (max-width: 600px) {
    ul.nav__list li.nav__item {float: none;}
  }

/*
.about_experience{
    color: black;
}
.intro{
    color: black;
}
.yoga_class{
    color: black;
}
.yoga_class{
    float: left;
    width: 25%;
}
.zumba_class{
    float: left;
    width: 25%;
}
.aerobics_class{
    float: left;
    width: 25%;
}
.cycling_class{
    float: right ;
    width: 25%;
}
*/
