.about_experience{
    color: black;
}
.intro{
    color: black;
}
.yoga_class{
    color: black;
}
.yoga_class{
    float: left;
    width: 25%;
}
.zumba_class{
    float: left;
    width: 25%;
}
.aerobics_class{
    float: left;
    width: 25%;
}
.cycling_class{
    float: right ;
    width: 25%;
}
